
/* ------------------------------------
  Mixins
------------------------------------ */
@mixin tag($highlight-color, $text-color:$black) {
  color: $text-color;
  border-color: $highlight-color;
  background: $highlight-color;
}

@mixin box-sizing($var) {
  -webkit-box-sizing: $var;
  -moz-box-sizing: $var;
  box-sizing: $var;
}
@mixin transition($var) {
  -webkit-transition: $var;
  -moz-transition: $var;
  -ms-transition: $var;
  -o-transition: $var;
  transition: $var;
}
@mixin transform($var) {
  -webkit-transform: $var;
  -ms-transform: $var;
  transition: $var;
}
@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@include keyframes(show) {
  0% {
		opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@include keyframes(scroll) {
  0% {
    bottom: 3%;
  }
  50% {
    bottom: calc(3% + 20px);
  }
  100% {
    bottom: 3%;
  }
}