@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Roboto:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* ------------------------------------
  Breakpoints
------------------------------------ */
$bp-small: '480px';
$bp-medium: '768px';
$bp-large: '1024px'; 

/* ------------------------------------
  Variables
------------------------------------ */
$body-font: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
$head-font: 'Montserrat', $body-font; // Menlo, Monaco, 'Courier New', monospace;

$font-size: 7vw !default; // make this responsive

$black: #222;
$red: #a20000;
$white: #fff;
$grey: #ccc;
$main-color: $white;
$accent-color: $red;

$linkpadding: 3px;


/* ------------------------------------
  Mixins
------------------------------------ */

@mixin tag($highlight-color, $text-color:$black) {
  color: $text-color;
  border-color: $highlight-color;
  background: $highlight-color;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-sizing($var) {
  -webkit-box-sizing: $var;
  -moz-box-sizing: $var;
  box-sizing: $var;
}
@mixin transition($var) {
  -webkit-transition: $var;
  -moz-transition: $var;
  -ms-transition: $var;
  -o-transition: $var;
  transition: $var;
}
@mixin transform($var) {
  -webkit-transform: $var;
  -ms-transform: $var;
  transition: $var;
}
@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@include keyframes(show) {
  0% {
		opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@include keyframes(scroll) {
  0% {
    bottom: 3%;
  }
  50% {
    bottom: calc(3% + 20px);
  }
  100% {
    bottom: 3%;
  }
}