.projects {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.subtitle {
  -ms-flex-positive: 3;
  flex-grow: 3;
}
.project {
  width: 30%;
}