@import url('../../Templates/css/reset.css');
@import url('../../Templates/css/style.scss');

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$size: 12px;
$color: #222;
$color2: #C52F2F;
$bodyBg: #fff;
$containerBg: #fff;


body {
  font-family: Menlo, Monaco, 'Courier New', monospace;
  background: $bodyBg;
  line-height: 1.5;
  font-size: $size;
  color: $color;
}
a {
  color: $color2;
  &[target=_blank]::after {
    display:inline-block;
    content:"\f08e";
    font-size: .8em;
    text-decoration: none;
    font-family: "FontAwesome";
    margin-left: .5em;
  }
}
/*
// ::-moz-selection 
::selection {
  color: yellow;
  background: green;
}
*/
.container {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  .content {
    background: $containerBg;
    padding: 5%;
    margin: 5%;
    @media all and (max-width: 768px) {
      margin: 0;
    }
    .avatar {
      max-width: 100px;
      @include border-radius(20%);
    }
    .intro {
      max-width: 400px;
      margin: 0 auto;
      padding: 5px;
      .title {
        line-height: 1;
        margin: .5em 0;
        font-size: 1.5em;
      }
      .summary {
        margin: .5em 0;
      }
    }
  }
}