@import "variables";
@import "mixins";

/* ------------------------------------
  Main Styles
------------------------------------- */
body {
  font-size: $font-size;
  line-height: 1.3;
  font-family: $body-font;
  color: $font-color;
}
.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

/* ------------------------------------
  Header
------------------------------------- */
.header {
  background: $accent-color;
}
.main {
  padding: 0 3%;
  height: 100vh;
  overflow: hidden;
}
.title {
  margin: 0;
  width: 100%;
  position: relative;
  color: $main-color;
  font-family: $head-font;
  font-size: 2.5em;
  font-weight: 500;
  @include animation(show 1.3s ease);
}
.summary {
  @include animation(show 1.8s ease);
  margin: 0;
  left: .1em;
  position: relative;
  color: $main-color;
  font-family: $head-font;
  font-weight: 400;
}
.arrow {
  font-size: 2em;
  margin: 0 auto;
  display: inline-block;
  color: $main-color;
  text-decoration: none;
  position: absolute; 
  // bottom: 50px;
  left: 50%;
  margin-left: -30px;
  @include animation(scroll 1.5s infinite);
}

.contact {
  width: 100%;
  margin: 5vh 0;
  position: relative;
  font-size: 1.3em;
  @include animation(show 1.8s ease);
  a {
    padding: 0 .1em;
    margin-right: 8px;
    color: $main-color;
    display: inline-block;
  }
}


@media screen and (min-width: $bp-small) {
  body {
    font-size: $font-size - 2;
  }
}
@media screen and (min-width: $bp-medium) {
  body {
    font-size: 40px;
  }
  .contact {
    font-size: 1em;
    margin: 1.5em 0;
  }
}



/* ------------------------------------
  Projects Section
------------------------------------ */
#projects {
  font-size: 1rem;
}
.projects {
  color: $black;
  text-align: center;
  padding: 3%;
  max-width: 1200px;
  min-height: 100vh;
  display: -ms-grid;
  display: grid; 
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-template-areas: 
    "subtitle subtitle subtitle"
    "project project project";
  img { width: 100%; }
}
.subtitle {
  color: $black;
  text-align: center;
  padding-top: 5%;
  margin-top: 0;
  font-size: 2em;
  width: 100%;
  grid-area: subtitle;
}
/* individual projects */
.project {
  margin: 0 auto 1em;
}
.project-link {
  color: $white;
  position: relative;
  display: table;
  width: 100%;
  background: $black;
  @include box-sizing(border-box);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include transition(all .5s ease);
  }
  &:hover::before {
   // background-color: rgba(0,0,0,0.4);
  }
  .project-title {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -1.3em;
    font-size: 1.3em;
    @include transition(all .8s ease);
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
    opacity: 0;
  }
  &:hover .project-title {
    opacity: 1;
  }
  img {
    display: block;
    @include transition(all .8s ease);
  }
  &:hover img {
    opacity: .3;
  }
}
.project-desc {
  font-size: 1em;
  line-height: 1.5;
  margin: 1.3em 0;
}
.tags {
  font-size: .7em;
  margin: 1em 0;
  a {
    text-transform: uppercase; 
    display: inline-block;
    padding: .4em;
    line-height: 1;
    margin: .3em;
    cursor: pointer;
    @include transition(all .1s ease);
    background-color: lighten($grey, 15%);
    border: 1px solid lighten($grey, 5%);
    @include border-radius(5px);
    &::before {
      content: '#';
    }
    &[data-href='css']{
      @include tag(#563d7c, $white);
    }
    &[data-href='js']{
      @include tag(#f1e05a);
    }
    &[data-href='html']{
      @include tag(#e34c26, $white);
    }
    &:hover {
      @include tag(transparent);
    }
  }
}

/* ------------------------------------
  Footer
------------------------------------ */
.footer {
  padding: 1em;
  text-align: center;
  background: $red;
}
.contact,
// below selector is for test.html only
.contact-info {
  width: 100%;
  a {
    font-size: 1.5em;
    margin-right: .4em;
    color: $main-color;
    padding: 7px;
    display: inline-block;
    @media screen and (max-width: 768px) {
      font-size: 2.4em;
      padding: .3em .4em;
    }
  }
}