@import url('../templates/css/reset.css');
@import url('../templates/css/style.scss');

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$mainFont: 'Lato', arial, helvetica, sans-serif;
$headFont: 'Montserrat', $mainFont;
// Menlo, Monaco, 'Courier New', monospace;
$size: 18px;
$black: #222;
$red: #be2b2b;
$white: #fff;
$grey: #ccc;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin transition($var) {
  -webkit-transition: $var;
  -moz-transition: $var;
  -ms-transition: $var;
  -o-transition: $var;
  transition: $var;
}


body {
  font-family: $mainFont;
  background: $white;
  line-height: 1.5;
  font-size: $size;
  color: $black;
}
a {
  color: $black;
  opacity: 0.5;
  text-decoration: none;
  border-bottom: 1px solid $black;
  &:hover, &:focus {
    opacity: 1;
  }
}
header {
  width: 100%;
  background: $red;
  .flexbox {
    max-width: 800px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .avatar {
      max-width: 100px;
      padding: 10px;
    }
    .title {
      color: $white;
      margin-left: 10px;
      font-size: 2em;
      font-family: $headFont;
    }
  }
}

.container {
  max-width: 800px;
  margin: 2% auto;
  padding: 0 2%;


  .contact {
    a {
      border: none;
    }
    img {
      height: 20px;
    }
  }
  /*

    .col-2 {
      display: inline-block;
      @include border-radius(10px);
      border: 1px solid $grey;
      width: 40%;
      padding: 2%;
      margin: 0 1%;
      h2 {
        font-family: $headFont;
        font-size: 1.5em;
      }
    }
  }
  */
}