@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: #740000;
  font-size: 18px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 13px;
  }
}

.flexbox {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-content-align: center;
  align-content: center;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@-moz-keyframes show {
  0% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@-o-keyframes show {
  0% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.main {
  padding: 0 3%;
  height: 100vh;
}

.avatar {
  max-width: 100px;
  position: relative;
  margin-bottom: 1em;
  -webkit-animation: show 1s ease;
  -moz-animation: show 1s ease;
  -o-animation: show 1s ease;
  animation: show 1s ease;
}

@media screen and (max-width: 768px) {
  .avatar {
    max-width: 80px;
  }
}

.title {
  margin: 0;
  width: 100%;
  color: #fff;
  font-size: 5em;
  line-height: 1;
  font-weight: normal;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  position: relative;
  -webkit-animation: show 1.3s ease;
  -moz-animation: show 1.3s ease;
  -o-animation: show 1.3s ease;
  animation: show 1.3s ease;
}

.summary {
  -webkit-animation: show 1.8s ease;
  -moz-animation: show 1.8s ease;
  -o-animation: show 1.8s ease;
  animation: show 1.8s ease;
  margin: 0;
  left: .1em;
  line-height: 1.8;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 300;
  position: relative;
  font-size: 2.3em;
}

.summary a {
  color: #fff;
  padding: 3px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.summary a:hover, .summary a:focus {
  color: #740000;
}

.summary a::after {
  content: '';
  z-index: -1;
  width: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
  height: 2px;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.summary a:hover::after, .summary a:focus::after {
  height: 1.25em;
}

.contact {
  width: 100%;
  margin: 2.5em 0 4em;
  position: relative;
  -webkit-animation: show 1.8s ease;
  -moz-animation: show 1.8s ease;
  -o-animation: show 1.8s ease;
  animation: show 1.8s ease;
}

.contact a {
  font-size: 1.3em;
  color: #fff;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .contact a {
    font-size: 2.4em;
    padding: .3em .4em;
    margin-right: .4em;
  }
}
/*# sourceMappingURL=style.css.map */