@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@-webkit-keyframes show {
  0% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@-moz-keyframes show {
  0% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@-o-keyframes show {
  0% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes scroll {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: calc(1% + 20px);
  }
  100% {
    bottom: 1%;
  }
}

@-moz-keyframes scroll {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: calc(1% + 20px);
  }
  100% {
    bottom: 1%;
  }
}

@-o-keyframes scroll {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: calc(1% + 20px);
  }
  100% {
    bottom: 1%;
  }
}

@keyframes scroll {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: calc(1% + 20px);
  }
  100% {
    bottom: 1%;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.header {
  background: #a20000;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main {
  padding: 0 3%;
  height: 100vh;
  overflow: hidden;
}

.avatar {
  max-width: 100px;
  position: relative;
  margin-bottom: 1em;
  -webkit-animation: show 1s ease;
  -moz-animation: show 1s ease;
  -o-animation: show 1s ease;
  animation: show 1s ease;
}

@media screen and (max-width: 768px) {
  .avatar {
    max-width: 80px;
  }
}

.title {
  margin: 0;
  width: 100%;
  color: #fff;
  font-size: 5em;
  line-height: 1;
  font-weight: 500;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  position: relative;
  -webkit-animation: show 1.3s ease;
  -moz-animation: show 1.3s ease;
  -o-animation: show 1.3s ease;
  animation: show 1.3s ease;
}

.summary {
  -webkit-animation: show 1.8s ease;
  -moz-animation: show 1.8s ease;
  -o-animation: show 1.8s ease;
  animation: show 1.8s ease;
  margin: 0;
  left: .1em;
  line-height: 1.8;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
  position: relative;
  font-size: 3.5vw;
}

.summary a {
  color: #fff;
  padding: 3px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.summary a:hover, .summary a:focus {
  color: #a20000;
}

.summary a::after {
  content: '';
  z-index: -1;
  width: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
  height: 2px;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.summary a:hover::after, .summary a:focus::after {
  height: 1.25em;
}

.scrolldwn {
  font-size: 3em;
  margin: 0 auto;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -30px;
  -webkit-animation: scroll 1.5s infinite;
  -moz-animation: scroll 1.5s infinite;
  -o-animation: scroll 1.5s infinite;
  animation: scroll 1.5s infinite;
}

.projects {
  color: #222;
  text-align: center;
  padding: 3%;
  max-width: 1200px;
  min-height: 100vh;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.projects img {
  width: 100%;
}

.projects .subtitle {
  margin: .5em 0 .8em;
  font-size: 2em;
  width: 100%;
}

/* individual projects */
.project {
  margin: 1.5%;
  width: 30%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.project-link {
  color: #fff;
  position: relative;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.project-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.project-link:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.project-link img {
  display: block;
}

.project-desc {
  font-size: 1em;
  line-height: 1.5;
  margin: 1.3em 0;
}

.tags {
  background-color: #ccc;
}

.tags a {
  display: inline-block;
}

.footer {
  background: #a20000;
}

.contact {
  width: 100%;
}

.contact a {
  font-size: 1.5em;
  margin-right: .4em;
  color: #fff;
  padding: 7px;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .contact a {
    font-size: 2.4em;
    padding: .3em .4em;
  }
}
/*# sourceMappingURL=style.css.map */