@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Roboto:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* ------------------------------------
   Variables + Mixins
------------------------------------ */
$mainFont: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
$headFont: 'Montserrat', $mainFont; // Menlo, Monaco, 'Courier New', monospace;
$size: 20px;

$black: #222;
$red: #a20000;
$white: #fff;
$grey: #ccc;
$mainColor1: $white;
$mainColor2: $red;

$linkpadding: 3px;

@mixin tag($highlight-color, $text-color:$black) {
  color: $text-color;
  border-color: $highlight-color;
  background: $highlight-color;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-sizing($var) {
  -webkit-box-sizing: $var;
  -moz-box-sizing: $var;
  box-sizing: $var;
}
@mixin transition($var) {
  -webkit-transition: $var;
  -moz-transition: $var;
  -ms-transition: $var;
  -o-transition: $var;
  transition: $var;
}
@mixin transform($var) {
  -webkit-transform: $var;
  -ms-transform: $var;
  transition: $var;
}
@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@include keyframes(show) {
  0% {
		opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@include keyframes(scroll) {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: calc(1% + 20px);
  }
  100% {
    bottom: 1%;
  }
}

/* ------------------------------------
  Main Styles
------------------------------------- */
body {
  font-size: $size;
  line-height: 1.3;
  font-family: $mainFont;
  color: $mainColor1;
  @media screen and (max-width: 768px) {
    font-size: $size - 6;
  }
}
.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  @include box-sizing(border-box);
}

/* ------------------------------------
  Header
------------------------------------- */
.header {
  background: $mainColor2;
  .container {
    max-width: 900px;
  }
}
.main {
  padding: 0 3%;
  height: 100vh;
  overflow: hidden; 
}
.avatar {
  max-width: 100px;
  position: relative;
  margin-bottom: 1em;
  @include animation(show 1s ease);
  @media screen and (max-width: 768px) {
    max-width: 80px;
  }
}
.title {
  margin: 0;
  width: 100%;
  color: $mainColor1;
  font-size: 5em;
  line-height: 1;
  font-weight: 500;
  font-family: $headFont;
  position: relative;
  @include animation(show 1.3s ease);
}
.summary {
  @include animation(show 1.8s ease);
  margin: 0;
  left: .1em;
  line-height: 1.8;
  font-family: $headFont;
  font-weight: 400;
  position: relative;
  font-size: 2.3em;
  a {
    color: $mainColor1;
    padding: $linkpadding;
    position: relative; 
    text-decoration: none;
    @include transition(all .4s ease);
    &:hover,
    &:focus {
      color: $mainColor2;
    }
    &::after {
      content: '';
      z-index: -1;
      width: 100%;
      left: 0;
      position: absolute;
      bottom: 0;
      height: 2px;
      background: $mainColor1;
      @include transition(all .3s ease);
    }
    &:hover::after,
    &:focus::after {
      // height: calc(1em + (2 * #{$linkpadding}));
      height: 1.25em;
    }
  }
}
.scrolldwn {
  font-size: 3em;
  margin: 0 auto;
  display: inline-block;
  color: $mainColor1;
  text-decoration: none;
  position: absolute; 
  bottom: 30px;
  left: 50%;
  margin-left: -30px;
  @include animation(scroll 1.5s infinite);
}

/* ------------------------------------
  Projects Section
------------------------------------ */
.projects {
  color: $black;
  text-align: center;
  padding: 3%;
  max-width: 1200px;
  min-height: 100vh;
  display: -ms-grid;
  display: grid; 
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-template-areas: 
    "subtitle subtitle subtitle"
    "project project project";
  img { width: 100%; }
}
.subtitle {
  color: $black;
  text-align: center;
  padding-top: 5%;
  margin-top: 0;
  font-size: 2em;
  width: 100%;
  grid-area: subtitle;
}
/* individual projects */
.project {
  margin: 0 auto 1em;
}
.project-link {
  color: $white;
  position: relative;
  display: table;
  width: 100%;
  background: $black;
  @include box-sizing(border-box);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include transition(all .5s ease);
  }
  &:hover::before {
   // background-color: rgba(0,0,0,0.4);
  }
  .project-title {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -1.3em;
    font-size: 1.3em;
    @include transition(all .8s ease);
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
    opacity: 0;
  }
  &:hover .project-title {
    opacity: 1;
  }
  img {
    display: block;
    @include transition(all .8s ease);
  }
  &:hover img {
    opacity: .5;
  }
}
.project-desc {
  font-size: 1em;
  line-height: 1.5;
  margin: 1.3em 0;
}
.tags {
  font-size: .7em;
  margin: 1em 0;
  a {
    text-transform: uppercase; 
    display: inline-block;
    padding: .4em;
    line-height: 1;
    margin: .3em;
    cursor: pointer;
    @include transition(all .1s ease);
    background-color: lighten($grey, 15%);
    border: 1px solid lighten($grey, 5%);
    @include border-radius(5px);
    &::before {
      content: '#';
    }
    &[data-href='css']{
      @include tag(#563d7c, $white);
    }
    &[data-href='js']{
      @include tag(#f1e05a);
    }
    &[data-href='html']{
      @include tag(#e34c26, $white);
    }
    &:hover {
      @include tag(transparent);
    }
  }
}

/* ------------------------------------
  Footer
------------------------------------ */
.footer {
  padding: 1em;
  text-align: center;
  background: $red;
}
.contact,
// below selector is for test.html only
.contact-info {
  width: 100%;
  a {
    font-size: 1.5em;
    margin-right: .4em;
    color: $mainColor1;
    padding: 7px;
    display: inline-block;
    @media screen and (max-width: 768px) {
      font-size: 2.4em;
      padding: .3em .4em;
    }
  }
}
.contact {
  margin: 2.5em 0 4em;
  position: relative;
  @include animation(show 1.8s ease);
}