@import url('../templates/css/reset.css');
@import url('../templates/css/style.scss');

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$mainFont: 'Lato', arial, helvetica, sans-serif;
$headFont: 'Montserrat', $mainFont;
// Menlo, Monaco, 'Courier New', monospace;
$size: 18px;
$black: #222;
$red: #be2b2b;
$white: #fff;
$grey: #ccc;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin transition($var) {
  -webkit-transition: $var;
  -moz-transition: $var;
  -ms-transition: $var;
  -o-transition: $var;
  transition: $var;
}

// below from
// joshbroton.com/quick-fix-sass-mixins-for-css-keyframe-animations/
@mixin animation($animations) {
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
body {
  font-family: $mainFont;
  background: darken($red, 15%);
  font-size: $size;
  color: $white;
  @media screen and (max-width: 768px) {
    font-size: $size - 4px;
  }
}
.flexbox {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-content-align: center;
  align-content: center;
}
@include keyframes(show) {
  0% {
		opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
/*
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: center;
    */

.container {
  max-width: 900px;
  margin: 0 auto;
}
.main {
  padding: 0 3%;
  height: 100vh;
}
.avatar {
  max-width: 100px;
  // padding: 0 10px;
  position: relative;
  @include animation(show 1s ease);
}
.title {
  width: 100%;
  color: $white;
  font-size: 5em;
  line-height: 1;
  font-family: $headFont;
  position: relative;
  @include animation(show 1.3s ease);
}
.summary {
  @include animation(show 1.8s ease);
  left: .1em;
  line-height: 1.8;
  font-family: $headFont;
  font-weight: 300;
  position: relative;
  font-size: 2.3em;
  a {
    color: $white;
    padding: 2px;
    position: relative; 
    text-decoration: none;
    @include transition(all .4s ease);
    &:hover {
      color: $black;
    }
    &::after {
      content: '';
      z-index: -1;
      width: 100%;
      left: 0;
      position: absolute;
      bottom: 2px;
      height: 2px;
      background: $white;
      @include transition(all .3s ease);
    }
    &:hover::after {
      height: 1em;
    }
  }
}

.contact {
  width: 100%;
  margin: 2.5em 0 4em;
  position: relative;
  @include animation(show 1.8s ease);
  a {
    font-size: 1.3em;
    color: $white;
    padding: 5px;
  }
}