@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
// @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');
/* ------------------------------------
  Breakpoints
------------------------------------ */
$bp-small: '480px';
$bp-medium: '768px';
$bp-large: '1024px'; 

/* ------------------------------------
  Variables
------------------------------------ */
$body-font: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
$head-font: 'Montserrat', $body-font; // Menlo, Monaco, 'Courier New', monospace;

$font-size: 7vw !default; // make this responsive

$black: #222;
$red: #a20000;
$white: #fff;
$grey: #ccc;

$font-color: $black;
$main-color: $white;
$accent-color: $red;